@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
    font-family: 'Comic Neue', cursive;
    background: url("../images/marvel.jpg") center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
    text-align: center;
}

#main {    
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 9rem;
    color: #f5f2fa;
    text-align: center;
    padding-bottom: 2rem;
    
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}
h3 {
    color: #de1402;
}

.button {
    margin: 1rem;
}

.btn {
    width: 30%;
}

.choice-container {
    width: 100%;
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    display: flex;
    background-color: pink;
}

.choice-container:hover  {
    transform: translate(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: blue;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}