@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
	text-align: center;
	background-color: #F0F0FB;
	color: #2A2AA0;
	margin-top: 5rem;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 5rem;
	font-family: 'Anton', sans-serif;
	text-shadow: 0 0 1px #FF0000;
}

.h2 {
	margin: 2rem;
	font-weight: 500;    
}

.hide {
	display: none;
}

.intro {
	font-size: 1.5rem;
	margin-bottom: 3.5rem;
}

#question {
    	margin-top: 5rem;
}

/*page 2 */
#ReadyToPlay {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
}

.choices {
	padding-bottom: 3rem;
	text-shadow: 0 0 2px #FF0000;
}

.choices:hover {
	transform: translate(-0.1rem);
	transition: transform 150ms;
}

.custom-select {
	color: #0A0A84;
	border-color: #0A0A84;
}

.custom-select:hover {
	border: 2px solid #02024C;
	color: #02024C;
}

.btn {
	background-color: #B6B6FD;
	border: 1px solid #02024C;
	color: #0A0A84;
	width: 30%;
	font-size: 1.5rem;
	margin-top: 2rem;
}

.btn:hover {
	box-shadow: 0 0 5px #2196f3, 0 0 8px #fa00d9, 0 0 9px #7c21f3;
}

/* the game */

#theGame {
	margin-bottom: 3rem;
}

.hud-item{
    font-size: 3rem;
    font-weight: 400;
}
 
#progressBar {
	width: 100%;
	height: 4rem;
	border: 0.3rem solid #0A0A84;
    
}

#progressbarfull {
	height: 3.4rem;
	width: 0%;
	background-color: #0A0A84;
    margin-bottom: 2rem;
}

.hud-prefix {
	font-size: 3rem;	  
}

#score {	
    font-size: 3rem;    
} 

#count {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2rem;
    text-shadow: 0 0 2px #FF0000;
}

/*The Questions */
.choice-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 0.4rem;
	font-size: 2rem;
	background-color: #B6B6FD;
	border: 1px solid #0A0A84;
}

.choice-container:hover {
	transform: translate(-0.1rem);
	transition: transform 150ms;
	box-shadow: 0 0 3px #FF0000;
}

.choice-number {
	padding: 1.5rem 2.5rem;
	text-shadow: 0 0 3px #FF0000;
	font-size: 2rem;
}

.choice-text {
	padding: 2rem;
	width: 100%;
}

.correct {
	background-color: #B5E78C;
}

.incorrect {
	background-color: #FF5454;
}

/*End Game */

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#username {
	font-size: 1.5rem;
	border: 1px solid #0A0A84;
}

#username:hover {
	border: 2px solid #02024C;
	color: #02024C;
}

input {
	margin-bottom: 1.5rem;
	color: #02024C;
}

#saveScoreBtn {
	width: 100%;
}

.secondary {
	margin-bottom: 1.5rem;
	width: 34%;
	border: 1px solid #02024C;
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

/*High Score Page*/

#scoreBoard {
	padding-bottom: 3rem;
}

#highScoresList {
	list-style: none;
	padding-left: 0;
	margin-bottom: 4rem;
}

.high-score {
	font-size: 2.8rem;
	margin-bottom: 0.5rem;
}

.high-score:hover {
	transform: scale(1.025);
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.submit, .secondary {
		width: 100%;
	}
}

/* large devices */

@media only screen and (max-width: 1024px) {}