@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	text-align: center;
	background-color: #F0F0FB;
	color: #2A2AA0;	
    font-size: 16px;
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 5rem;
	font-family: 'Anton', sans-serif;
	text-shadow: 1px 1px 3px #FF0000;
  }


h2 {
	/* margin: 2rem;*/
	font-weight: 500;   
}

.hide {
	display: none;
}

 #ReadyToPlay {
	margin-top: 4rem;
	margin-bottom: 5rem;
} 

.intro {
	font-size: 1.5rem;
	margin-bottom: 3.5rem;
    letter-spacing: 1px;    
}

.choices {
	padding-bottom: 3rem;
	font-weight: 500;
    text-shadow: 0 0 2px #FF0000;
}

.choices:hover {
	transform: translate(-0.1rem);
	transition: transform 150ms;
}

.custom-select {
	color: #0A0A84;
	border-color: #0A0A84;    
}

.custom-select:hover {
	border: 2px solid #02024C;
	color: rgb(146, 146, 156);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);   
}

.btn {
	background-color: #B6B6FD;
	border: 1px solid #02024C;
	color: #0A0A84;
	width: 30%;
	font-size: 1.5rem;
	margin-top: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.btn:hover {
	box-shadow: 0 0 5px #2196f3, 0 0 8px #fa00d9, 0 0 9px #7c21f3;
}


#theGame {
	margin-top: 5rem;	
    margin-bottom: 5rem;
}


.headsUp {
	font-size: 2rem;	
    font-weight: 500;
    background: #E8E6F7 ;
    border-radius: 15px;
    border: 1px solid #02024C;   
}

#count {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2rem;
    text-shadow: 0 0 2px #FF0000;
}

#question {
    	margin: 4rem;
}


/*The Questions */
.answer-options {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 0.4rem;
	font-size: 2rem;
	background-color: #B6B6FD;
	border: 1px solid #0A0A84;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.answer-options:hover {
	transform: translate(-0.1rem);
	transition: transform 150ms;
	box-shadow: 0 0 3px #FF0000;
}

.answerNumber {
	padding: 1.5rem 2.5rem;
	text-shadow: 0 0 3px #FF0000;
	font-size: 2rem;
}

.answerChoice{
	padding: 2rem;
	width: 100%;
}

.correct {
	background-color: #B5E78C;
}

.incorrect {
	background-color: #FF5454;
}

/*End Game */


.secondary {
	margin-bottom: 1.5rem;
	width: 34%;
	border: 1px solid #02024C;
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.submit, .secondary {
		width: 100%;
	}
   
}

/* large devices */

@media only screen and (max-width: 1024px) {}